.film-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.film-card {
  display: inline-block;
  width: 18rem;
  margin: 10px;
}
.film-description {
  height: 120px; /* Réglez la hauteur souhaitée pour la description */
  overflow: hidden;
  resize: none; /* Empêche le redimensionnement */
}